body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", serif;
    font-size: 120%;
    line-height: 1.5;
}
.container {
    margin: 0 auto;
    width: 840px;
    padding: 20px 0;
    padding-bottom: 80px;
}
.container p {
    padding-bottom: 3%;
}
main h1 {
    font-size:60px;
    background-color: #851944;
    color: #F2FFFC;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding: 40px;
    margin: 0;
    text-transform: uppercase;
    border-bottom: 10px solid black;
}
main a{
    color: #851944;
}
h2 {
    font-size: 40px;
    font-family: "Open Sans Condensed", sans-serif;
    clear: both;
}
p {
    text-align: justify;
    margin 30px; 0;
}
blockquote {
    background-color: #D3DDDA;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 0;
    box-sizing: border-box;
}
strong {
    font-weight: 600;
}
em {
    font-style: italic;
}
aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    padding: 20px;
    font-family: "Open Sans Condensed", sans-serif;
}
nav h1 {
    font-size: 30px;
    margin-bottom: 25px;
}
nav a {
    color: inherit;
    text-transform: lowercase;
}
.icones-sociais li {
    display: inline-block;
}
footer {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}
.icones-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
}
.github {
    background-image: url(github.png);
}
.twitter {
    background-image: url(twitter.png);
}
.linkedin {
    background-image: url(linkedin.png);
}
.fiat {
    float: right;
    margin-left: 40px;
}
.petrobras {
    float: left;
    margin-right: 40px;
}
        aside,
        .minha-foto {
            float: right;
            box-sizing: border-box;
            border-left:  10px solid black;
            border-bottom:  10px solid black;
        }
aside {
    clear: right;
    width: 15%;
    position: relative;
    top: 310px;
}
main {
    float: left;
    width: 85%;
}
footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}
cite {
    font-style: italic;
    float: right;
}
.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
}


.navegacao-site {
    position: absolute;
    top: 310px;
    right: 0;
}












